html {
  scroll-behavior: smooth;
}

/*The nabar features*/
.topnav {
  overflow: hidden;
  font-family: monospace;
}

.topnav a {
  float: left;
  color: #f25278;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: purple;
}

#name {
  color: #f25278;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  }

  /*Footer blends into the backgorund like navbar*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
}

/*Social Media button - features*/
.fa-linkedin {
 padding: 25px;
 text-decoration: none;
 border-radius: 50%;
 background: #007bb5;
 color: white;
}

.fa-instagram {
  padding: 25px;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
 
/*Changes opacity when you hover over SM buttom*/
.fa:hover {
   opacity: 0.7;
}
